<div class="page-header" >
  <h1>CaseStudy : {{this.service.casestudy.Case_name}}</h1>
  <h3>Instruction : {{this.service.casestudy.Instruction}}</h3>
  <h3>Experience : {{this.service.casestudy.Experience}}</h3>
  <h3>Role : {{this.service.casestudy.Role}}</h3>
  <h3>Duration : {{this.service.casestudy.Duration}}</h3>
  <div class="row">
    <div class="input-field col s12">
      <button class="btn-large btn-submit" type="submit" (click) = "OnSubmit()" >Accept</button>
    </div>
  </div>
</div>