<div id="nav-bar" class="container">
  <div class="row">
   
  <div class="col-md-4" style="float:left" >
  <p id="x">{{this.service?.casestudy.Case_name}}</p>
  </div>
   
  <div class="col-md-4">
  <p id="y"><strong>{{this.service?.displayTimeElapsed()}}</strong> left</p>
  </div>
   
  <div class="col-md-4" >
  <button id="z" class="btn-large btn-submit" type="submit" (click) = "onSubmitTest()" style="float:right" >End Test</button>
  </div>
   
   
  </div>
  </div>
   
 
  <div class="row">
    
    
    <div class="col-lg-6">
      <div id="side-bar">
          <div *ngFor="let item of this.service.questions ; let i=index">
          <button type="submit" class="btn-large btn-submit but" (click) = "this.toggleQuestion(i)" >{{i+1}}</button>
          </div>
      </div>
    <app-question></app-question>
    
    </div>
    
    <div class="col-lg-6">
    <app-mcq></app-mcq>
    </div>
  </div>
 