
<form *ngIf = "this.service.mcqs.length>0">
<p> {{this.service.mcqs[this.mcqNo].Question_text}}<p>
<input type="radio" name="option" value = "Option_A">{{this.service.mcqs[this.mcqNo].Option_A}}<br>
<input type="radio" name="option" value = "Option_B">{{this.service.mcqs[this.mcqNo].Option_B}}<br>
<input type="radio" name="option" value = "Option_C">{{this.service.mcqs[this.mcqNo].Option_C}}<br>
<input type="radio" name="option" value = "Option_D">{{this.service.mcqs[this.mcqNo].Option_D}}
</form>
<div class="row">
    <div class="input-field col s12">
      <button class="btn-large btn-submit" type="submit" (click) = "onNext()" >Next</button>
    </div>
</div>