<!--div class="jumbtron">
  <h1 class="display-4 text-center">User Register</h1>
  <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
 
  <div class="form-group">
    <label>FULL NAME</label>
    <input name="FullName" #FullName="ngModel" [(ngModel)]="service.userDetail.FullName" class="form-control" required>
    <div class="validation-error" *ngIf="FullName.invalid && FullName.touched">This field is required.</div>
  </div>

  <div class="form-group">
    <label>Email ID</label>
    <input name="User_id" #User_id="ngModel" [(ngModel)]="service.userDetail.User_id" class="form-control">
    <div class="validation-error" *ngIf="User_id.invalid && User_id.touched">This field is required.</div>
  </div>

  <div class="form-group">
    <label>Experience</label>
    <input name="Experience" #Experience="ngModel" [(ngModel)]="service.userDetail.Experience" class="form-control">
    <div class="validation-error" *ngIf="Experience.invalid && Experience.touched">This field is required.</div>
  </div>
  
  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
</form>
</div>
-->
<div class="jumbtron">
  <h1 id="x">Fill Your Details</h1>
  <div id="Registercontainer">
  <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <div class="row1">
  <div class="col-sm-6">
  <div class="form-group">
  <label>FULL NAME</label>
  <input name="FullName" #FullName="ngModel" [(ngModel)]="service.userDetail.FullName" class="form-control" required>
  <div class="validation-error" *ngIf="FullName.invalid && FullName.touched">This field is required.</div>
  </div>
  </div>
  </div>
  <div class="row2" >
  <div class="col-sm-6">
  <div class="form-group">
  <label>Email ID</label>
  <input name="User_Id" #User_id="ngModel" [(ngModel)]="service.userDetail.User_id" class="form-control">
  <div class="validation-error" *ngIf="User_id.invalid && User_id.touched">This field is required.</div>
  </div>
  </div>
  </div>
  <div class="row3">
  <div class="col-sm-6">
  <div class="form-group">
  <label>Experience</label>
  <input name="Experience" #Experience="ngModel" [(ngModel)]="service.userDetail.Experience" class="form-control">
  <div class="validation-error" *ngIf="Experience.invalid && Experience.touched">This field is required.</div>
  </div>
  <div class="form-group">
  <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
  </div>
  </div>
  </div>
  </form>
  </div>
  </div>